<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About Page w hbs</title>
</head>
<body>
    {{> header}}
    <!--Poniżej sama wiadomość welcomeText (zakomentowana)-->
    <!--<p>{{welcomeText}}</p>-->

    <!--Na wiadomości welcomeText wywołąmy funkcję screamIt-->
    <p>{{screenIt welcomeText}}</p>

    {{> footer}}
</body>
</html>